h1 {
    color: #333;
    font-size: 45px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration-line: underline;
}

.text {
    color: white;
    font-size: 22px;
    margin-bottom: 30px;
    text-align: center;
    background-color: darkseagreen;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}
