@model Produtos

@{
    ViewData["Title"] = "Adicionar Produtos";
}

<!-- Adicionar produtos novos no banco -->

<h1 class="display-5 text-center pb-4">Adicionar Produtos</h1>
<form class="card-body mx-auto" style="width: 40rem;" asp-action="Adicionar" asp-controller="Produtos" method="post">
    <div class="mb-3">
        <label class="form-label font-monospace" for="nome">Nome: </label>
        <input type="text" class="form-control border border-secondary" asp-for="NmProd" id="nome" required>
    </div>
    <div class="mb-3">
        <label class="form-label font-monospace" for="marca">Marca:</label>
        <input type="text" asp-for="MarcaProd" class="form-control border border-secondary" id="marca" required>
    </div>
    <div class="mb-3">
        <label class="form-label font-monospace" for="descricao">Descrição:</label>
        <input type="text" asp-for="DescProd" class="form-control border border-secondary" id="descricao" required>
    </div>
    <div class="mb-3">
        <label class="form-label font-monospace" for="preco">Preco:</label>
        <input type="number" class="form-control border border-secondary" asp-for="PrecoFixo" id="preco" step="0.01" required>
    </div>
    <div class="mb-3">
        <label class="form-label font-monospace" for="img">Endereco da imagem:</label>
        <input type="text" asp-for="Img" class="form-control border border-secondary" id="img" required>
        <div id="imgHelp" class="form-text">Digite o endereço https de uma imagem</div>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
    <a asp-controller="Produtos" asp-action="Index" class="btn btn-danger">Voltar</a>
</form>