@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/IndexHome.css" asp-append-version="true"/>
<h1>Olá Seja Bem-vindo!</h1>
    <div class="text">
        <p>A SavvyFix é a melhor opção para quem busca tênis de melhor qualidade pelo melhor preço!</p>
        <p>Os nossos preços são adaptados pelo seu jeito de comprar, aproveite!</p>
    </div>
    
    <div class="d-flex mx-auto flex-row mb-3 d-flex " >
        <div class="card mx-auto border border-secondary p-2 rounded" style="width: 18rem;">
            <img src="https://th.bing.com/th/id/R.61281d79a8c79b617877e82c7b80473e?rik=U5xvN2vcPpH1zQ&riu=http%3a%2f%2f2.bp.blogspot.com%2f-Hg9NbWakfM4%2fVju32-fJMoI%2fAAAAAAAAAHU%2f13eQbgVM3bM%2fs1600%2ft%2525C3%2525AAnis-de-corrida.jpg&ehk=T9y0yJ%2bXh3heUX%2fgl2sPJO0T5ABnUXuoqvlD9vV4Cys%3d&risl=&pid=ImgRaw&r=0" class="card-img-top" style="width: 17rem; height: 13rem">
            <div class="card-body">
                <h5 class="card-title">Ver Produtos</h5>
                <p class="card-text ">Venha encontrar o melhor tênis para o seu estilo!.</p>
                <a asp-controller="Produtos" asp-action="Index" class="btn btn-primary">Ver</a>
            </div>
        </div>
        <div class="card mx-auto border border-secondary p-2 rounded" style="width: 18rem;">
            <img src="https://s.zst.com.br/cms-assets/2020/11/tenis-para-caminhada-3-.png" class="card-img-top" style="width: 17rem; height: 13rem">
            <div class="card-body">
                <h5 class="card-title">Login / Cadastro</h5>
                <p class="card-text">Realize o login para fazer suas compras.</p>
                <a asp-controller="Clientes" asp-action="Login" class="btn btn-primary">Login</a>
                <a asp-controller="Clientes" asp-action="Cadastrar" class="btn btn-primary">Cadastre - se</a>
            </div>
        </div>
    </div>
