@{
    ViewData["Title"] = "Sobre Nós";
}
<link rel="stylesheet" href="~/css/IndexHome.css" asp-append-version="true"/>
<h1 class="display-4">@ViewData["Title"]</h1>

<p class="text"> A SavvyFix tem como proposta trazer preços dinâmicos aos produtos de acordo
    com demandas e condições específicas a partir do comportamento de um ou
    mais clientes, independente de qual seja o ramo da empresa – desde que a
    venda seja em plataformas digitais. </p>

<p class="text">As principais atividades que a solução propõe são preços dinâmicos a
    partir do horário que o consumidor está comprando, da demanda de compras
    naquele momento, da quantidade de vezes que um consumidor procurou o
    produto, localização e clima local. Para isso, os preços do produto serão
    ajustados através da análise das métricas ditas anteriormente e das preferências
    do cliente de forma atrativa para o usuário.</p>

    <p class="text">Para exemplificar melhor, a SavvyFix criou um site fictício de tênis para
    aplicar a solução de precificação dinâmica. É importante ressaltar que a solução
    não depende e não é restrita para apenas um nicho do mercado, muito pelo
    contrário, a solução é generalizada e pode ser aplicada a qualquer empresa que
    venda produtos digitalmente, sendo o site fictício de tênis apenas uma dessas
    opções</p>