@{
ViewData["Title"] = "Login";
}

<h1>Login</h1>

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
<div class="alert alert-danger" role="alert">
    @ViewBag.ErrorMessage
</div>
}

<form asp-action="Login" method="post">
    <div class="mb-3">
        <label for="cpf" class="form-label">CPF:</label>
        <input type="text" class="form-control" id="cpf" name="cpf" required>
    </div>
    <div class="mb-3">
        <label for="senha" class="form-label">Senha:</label>
        <input type="password" class="form-control" id="senha" name="senha" required>
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
</form>
